header.header_in.header-menu_fixed
  .container
    .row
      .col-lg-3.col-12
        #logo
          a(href='/', title='Hotspot - Find the hottest places in Lagos')
            h3.text-dark Hotspot
      .col-lg-9.col-12
        ul#top_menu
          if !currentUser 
            li.d-flex
              if !currentUser 
                a#sign-in.login.w-7.profile-custom(href='#sign-in-dialog', title='Sign In') Sign In
              else
                a.sign-out.profile-custom(href='/signout', title='Sign Out') Sign Out
          li
            a.wishlist_bt_top(href='/', title='Your wishlist') Your wishlist
        // /top_menu
        a.btn_mobile(href='#menu')
          #hamburger.hamburger.hamburger--spin
            .hamburger-box
              .hamburger-inner
        nav#menu.main-menu
          ul
            li
              span
                a(href='/') Home
            li
              span
                a(href='/listings') Listings
            li
              span
                if !currentUser 
                  a.login(href='#sign-in-dialog', title='Sign In') Sign In
                else
                  a(href='/signout', title='Sign Out') Sign Out
            //- li
            //-   span
            //-     if !currentUser 
            //-       a.login(href='#sign-in-dialog', title='Sign In') Sign In
            //-     else
            //-       a(href='/signout', title='Sign Out') Sign Out
    // /row
    // /container
    // search_mobile
    .layer
    #search_mobile
      a.side_panel(href='#')
        i.icon_close
      .custom-search-input-2
        .form-group
          input.form-control(type='text', placeholder='What are you looking..')
          i.icon_search
        .form-group
          input.form-control(type='text', placeholder='Where')
          i.icon_pin_alt
        select.wide
          option All Categories
          option Shops
          option Hotels
          option Restaurants
          option Bars
          option Events
          option Fitness
        input(type='submit', value='Search')
    // /search_mobile