header.header_in.header-menu_fixed
  .container
    .row
      .col-lg-3.col-12
        #logo.mb-1
          a(href='/', title='Hotspot - Find the hottest places in Lagos')
            img(src='/img/flame.png' style="vertical-align:middle").mt-md-0.img-nav.mr-2
            h3(style="vertical-align:middle").d-inline-block.mt-md-2.mb-0.logo-text.profile-custom Hotspot
      .col-lg-9.col-12
        //ul#top_menu
          li.d-flex
            if !currentUser 
              a#sign-in.login.w-7.profile-custom(href='#sign-in-dialog', title='Sign In') Sign In
            else
              a.sign-out.profile-custom(href='/signout', title='Sign Out') Sign Out
          li
            a.wishlist_bt_top(href='/bookmarks', title='Your wishlist') Your bookmarks
        // /top_menu
        a.btn_mobile(href='#menu')
          #hamburger.hamburger.hamburger--spin
            .hamburger-box
              .hamburger-inner
        nav#menu.main-menu
          ul
            li
              span
                a.profile-custom(href='/') Home
            li
              span
                a.profile-custom(href='/explore') Explore
            if currentUser
              li
                span
                  a#alertsDropdown.nav-link.dropdown-toggle.mr-lg-2(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    img(src="img/avatar.png" class="mr-2 img-responsive img-circle avater-img" style="width:38px; height:38px; vertical-align:middle; border-radius:50%; border:2px solid #d54e0d" alt="")
                    span.profile_custom= currentUser.first_name
                  .dropdown-menu(aria-labelledby='alertsDropdown')
                    a.dropdown-item(href='/mylistings')
                      span(style="color:black") My Listings
                    .dropdown-divider
                    a.dropdown-item(href='/profile')
                      span(style="color:black") Profile
                    .dropdown-divider
                    a.dropdown-item(href='/bookmarks')
                      span(style="color:black") Bookmarks
                    .dropdown-divider
                    a.dropdown-item(href='/signout')
                      span(style="color:black") Sign Out
            else
              li
                span
                  a#sign-in.login.w-7.profile-custom(href='#sign-in-dialog', title='Sign In') Sign In
            //- li
            //-   span
            //-     if !currentUser 
            //-       a.login(href='#sign-in-dialog', title='Sign In') Sign In
            //-     else
            //-       a(href='/signout', title='Sign Out') Sign Out
    // /row
    // /container
    // search_mobile
    .layer
    #search_mobile
      a.side_panel(href='#')
        i.icon_close
      .custom-search-input-2
        .form-group
          input.form-control(type='text', placeholder='What are you looking..')
          i.icon_search
        .form-group
          input.form-control(type='text', placeholder='Where')
          i.icon_pin_alt
        select.wide
          option All Categories
          option Shops
          option Hotels
          option Restaurants
          option Bars
          option Events
          option Fitness
        input(type='submit', value='Search')
    // /search_mobile