header.header.menu_fixed
  #logo
    a(href='/', title='Hotspot - Find the hottest places in Lagos')
      h3.text-light.logo-text Hotspot
  ul#top_menu
    li.d-flex
      if !currentUser 
        a#sign-in.login(href='#sign-in-dialog', title='Sign In') Sign In
    li
      a.wishlist_bt_top(href='wishlist.html', title='Your wishlist') Your wishlist
  // /top_menu
  a.btn_mobile(href='#menu')
    #hamburger.hamburger.hamburger--spin
      .hamburger-box
        .hamburger-inner
  nav#menu.main-menu
    ul
      li
        span
          a(href='/') Home
      li
        span
          if !currentUser 
            a(href='#sign-in-dialog', title='Sign In') Sign In
          else
            a(href='/signout', title='Sign Out') Sign Out


//- header.header.menu_fixed
      #logo
        a(href='/', title='Hotspot - Find the hottest places in Lagos')
          h3.text-dark Hotspot
      ul#top_menu
        li
          if !currentUser 
            a(href='/register', title='Sign In') Sign In
          else
            a(href='/signout', title='Sign Out') Sign Out
      // /top_menu
      a.btn_mobile(href='#menu')
        #hamburger.hamburger.hamburger--spin
          .hamburger-box
            .hamburger-inner
      nav#menu.main-menu
        ul.text-center
          li
            span
              a(href='/') Home
          li
            span
              a(href='/listing-detail') Listings
          li
            span
              a(href='/grid-search') Search
            ul
              li
                a(href='row-search.html') Row Search
              li
                a(href='/grid-search') Grid Search
