doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Hotspot')
    meta(name='author', content='Hotspot')
    title Hotspot
    // Favicons
    link(rel='shortcut icon', href='/img/flame.png', type='image/x-icon')
    link(rel='apple-touch-icon', type='image/x-icon', href='/img/apple-touch-icon-57x57-precomposed.png')
    link(rel='apple-touch-icon', type='image/x-icon', sizes='72x72', href='/img/apple-touch-icon-72x72-precomposed.png')
    link(rel='apple-touch-icon', type='image/x-icon', sizes='114x114', href='/img/apple-touch-icon-114x114-precomposed.png')
    link(rel='apple-touch-icon', type='image/x-icon', sizes='144x144', href='/img/apple-touch-icon-144x144-precomposed.png')
    // GOOGLE WEB FONT
    link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
    // BASE CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/vendors.css', rel='stylesheet')
    // ALTERNATIVE COLORS CSS
    link#colors(href='/#', rel='stylesheet')
    // YOUR CUSTOM CSS
    link(href='/css/custom.css', rel='stylesheet')
  body#login_bg
    nav#menu.fake_menu
    #login
      div.d-flex.align-items-center
        aside
          figure
            a(href='/', title='Admin')
              h3(style="vertical-align:middle; color:black").d-inline-block.mt-2.mb-0.logo-text.profile-custom Admin
          form(action="/admin/login" method= "post")
            if flashes.signInError
              .form-group
                .alert.alert-danger.alert-dismissible.fade.show
                  p.d-inline-block.mb-0 
                    span.icon-cancel-circled2
                      | #{flashes.signInError}
                  button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
            .form-group
              label Email
              input#email.form-control(type='email' required name='email')
              i.icon_mail_alt
            .form-group
              label Password
              input#password.form-control(type='password' required name='password', value='')
              i.icon_lock_alt
            //.clearfix.add_bottom_30
              .checkboxes.float-left
                label.container_check
                  | Remember me
                  input(type='checkbox')
                  span.checkmark
              .float-right.mt-1
                a#forgot(href='/javascript:void(0);') Forgot Password?
            button.btn_1.rounded.full-width(type='submit') Login Now
          .copy © 2018 Hotspot
    // /login
    // COMMON SCRIPTS
    script(src='/js/common_scripts.js')
    script(src='/js/functions.js')
    script(src='/assets/validate.js')
