extends layout

block content
  include partials/navbar.pug

  main.pattern
    section.hero_single.version_2
      .wrapper
        .container
          h3 Find what you need!
          p Discover top rated hotels, shops and restaurants around the world
          form(method='post', action='/search-home-listings')
            .row.no-gutters.custom-search-input-2
              .col-lg-4
                .form-group
                  input.form-control(type='text', name="title" placeholder='What are you looking for...')
                  i.icon_search
              .col-lg-3
                .form-group
                  input.form-control(type='text', name="location" placeholder='Where')
                  i.icon_pin_alt
              .col-lg-3
                select.wide(name="category")
                  option(selected value="") All Categories
                  - console.log(categories)
                  - categories.forEach( cat => {
                      option(value=cat)= cat.slice(0,1).toUpperCase() + cat.slice(1)
                  - });
              .col-lg-2
                input(type='submit', value='Search')
            // /row
            // /hero_single
    .main_categories
      .container
        ul.clearfix
          li
            a(href='/category/shops')
              i.icon-shop
              h3 Shops
          li
            a(href='/category/hotels')
              i.icon-lodging
              h3 Hotels
          li
            a(href='/category/restaurant')
              i.icon-restaurant
              h3 Restaurants
          li
            a(href='/category/shops')
              i.icon-bar
              h3 Bars
          li
            a(href='/listings')
              i.icon-dot-3
              h3 More

    .container.margin_60_35
      .main_title_3
        span
        h2 Famous Shops
        p 
        a(href='/category/shops') See all
      .row.add_bottom_30
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/shop_1.jpg', alt='')
              .info
                h3 Victoria Secretes
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/shop_2.jpg', alt='')
              .info
                h3 Louis Vuitton
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/shop_3.jpg', alt='')
              .info
                h3 Burberry
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/shop_4.jpg', alt='')
              .info
                h3 Pinko
      // /row
      .main_title_3
        span
        h2 Popular Hotels
        p 
        a(href='/category/hotel') See all
      .row.add_bottom_30
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/hotel_1.jpg', alt='')
              .info
                .cat_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                h3 Hotel Mariott
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/hotel_2.jpg', alt='')
              .info
                .cat_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                h3 Hotel Concorde
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/hotel_3.jpg', alt='')
              .info
                .cat_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                h3 Hotel La Defanse
        .col-lg-3.col-sm-6
          a.grid_item.small(href='/listings')
            figure
              img(src='img/hotel_4.jpg', alt='')
              .info
                .cat_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                  i.icon_star
                h3 Hotel Carlton
      // /row
      .main_title_3
        span
        h2 Top Restaurants
        p 
        a(href='/category/restaurant') See all
      .row
          .col-lg-3.col-sm-6
            a.grid_item.small(href='/listings')
              figure
                img(src='img/restaurant_1.jpg', alt='')
                .info
                  h3 Da Alfredo
          .col-lg-3.col-sm-6
            a.grid_item.small(href='/listings')
              figure
                img(src='img/restaurant_2.jpg', alt='')
                .info
                  h3 Bistroter
          .col-lg-3.col-sm-6
            a.grid_item.small(href='/listings')
              figure
                img(src='img/restaurant_3.jpg', alt='')
                .info
                  h3 Da Luigi
          .col-lg-3.col-sm-6
            a.grid_item.small(href='/listings')
              figure
                img(src='img/restaurant_4.jpg', alt='')
                .info
                  h3 Marco King
                // /row
                // /container
    .call_section
      .wrapper
        .container.margin_80_55
          .main_title_2
            span
              em
            h2 How it Works
            p 
          .row
            .col-md-4
              .box_how
                i.pe-7s-search
                h3 Search Locations
                p
                 
                span
            .col-md-4
              .box_how
                i.pe-7s-info
                h3 View Location Info
                p
                  
                span
            .col-md-4
              .box_how
                i.pe-7s-like2
                h3 Book, Reach or Call
                p
                  
          // /row
          p.text-center.add_top_30.wow.bounceIn(data-wow-delay='0.5s')
            a.btn_1.rounded(href='/register') Register Now
        canvas#hero-canvas(width='1920', height='1080')
      
      // /container

  include partials/footer.pug
