extends admin-layout

block content
  include partials/admin-nav.pug
  .content-wrapper
    .container-fluid
      include partials/bread-crumb.pug
      .box_general
        h4 Inbox
        .list_general
          ul
            li
              span 2 hours ago
              figure
                img(src='img/avatar1.jpg', alt='')
              h4
                | Enzo Ferrari 
                i.unread Unread
              p
                | In vim mucius menandri convenire, an brute zril vis. Ancillae delectus necessitatibus no eam, at porro solet veniam mel, ad everti nostrud vim. Eam no menandri pertinacia deterruisset.
            li
              span 2 hours ago
              figure
                img(src='img/avatar2.jpg', alt='')
              h4
                | Andrea Lomarco 
                i.unread Unread
              p
                | Ex omnis error aliquam quo, eu eos atqui accusam, ex nec sensibus erroribus principes. No pro albucius eloquentiam accommodare. Mei id illud posse persius. Nec eu dico lucilius delicata, qui propriae voluptaria eu.
            li
              span 2 hours ago
              figure
                img(src='img/avatar3.jpg', alt='')
              h4
                | Marc Twain 
                i.read Read
              p
                | Ex omnis error aliquam quo, eu eos atqui accusam, ex nec sensibus erroribus principes. No pro albucius eloquentiam accommodare. Mei id illud posse persius. Nec eu dico lucilius delicata, qui propriae voluptaria eu.
            li
              span 2 hours ago
              figure
                img(src='img/avatar4.jpg', alt='')
              h4
                | Lucas Swing 
                i.read Read
              p
                | Cum id mundi admodum menandri, eum errem aperiri at. Ut quas facilis qui, euismod admodum persequeris cum at. Summo aliquid eos ut, eum facilisi salutatus ne. Mazim option abhorreant ne his.
            li
              span 2 hours ago
              figure
                img(src='img/avatar5.jpg', alt='')
              h4
                | Steve Wornder 
                i.read Read
              p
                | In vim mucius menandri convenire, an brute zril vis. Ancillae delectus necessitatibus no eam, at porro solet veniam mel, ad everti nostrud vim. Eam no menandri pertinacia deterruisset.
            li
              span 2 hours ago
              figure
                img(src='img/avatar6.jpg', alt='')
              h4
                | Mark Shoemaker 
                i.unread Unread
              p
                | In vim mucius menandri convenire, an brute zril vis. Ancillae delectus necessitatibus no eam, at porro solet veniam mel, ad everti nostrud vim. Eam no menandri pertinacia deterruisset.

  include partials/admin-footer.pug