extends layout

block content
    include partials/header-search.pug
    .sub_header_in.sticky_header.mt-0
        .container
            h1 Bookings
    main
        .container.margin_60_35
            .box_booking
                each listing in user_listings
                    .strip_booking
                        .row
                            img(src=listing.listing_image onerror="this.onerror=null;this.src='/img/blog-3.jpg';").img-listings.col-lg-2.col-md-2
                            .col-lg-6.col-md-5
                                h3.hotel_booking
                                    | #{listing.listing_title}
                                    span #{listing.category}
                            .col-lg-2.col-md-3
                                ul.info_booking
                                    li
                                        strong Status
                                        |  #{listing.status === 'true' ? 'Approved': 'Unapproved'}
                                 
                            .col-lg-2.col-md-2
                                .booking_buttons
                                    if(listing.status === 'true')
                                        a.btn_2(href='#0') Edit
                                    a.btn_3(href='#0') Cancel
    
            p.text-right
                a.btn_1(href='checkout.html') Checkout
    include partials/footer.pug
