extends layout-register

block content
  include partials/navbar.pug
  nav#menu.fake_menu
  #login.registerpage
    aside.aside-register.mt-5.mt-md-3
      figure.mb-2
        a(href='/')
          h3.text-dark Hotspot
  
      if flashes.signupError
        .alert.alert-danger.alert-dismissible.fade.show
          p.mb-0 Error : #{flashes.signupError}
      form(method="POST" action="/signup")
        .form-group
          label Your Name
            span.text-danger *
          input.form-control(type='text' name='first_name' required)
          i.ti-user
        .form-group
          label Your Last Name
            span.text-danger *
          input.form-control(type='text' name='last_name' required)
          i.ti-user
        .form-group
          label Your Email
            span.text-danger *
          input.form-control(type='email' name='email' required)
          i.icon_mail_alt
        .form-group
          label Your password
            span.text-danger *
          input#password1.form-control(type='password' name='password' required)
          i.icon_lock_alt
        .form-group
          label Confirm password
            span.text-danger *
          input#password2.form-control(type='password' name='confirm_password' required)
          i.icon_lock_alt
        #pass-info.clearfix
        button.btn_1.mt-2.rounded.full-width.add_top_30(type="submit") Register Now!
        .text-center.add_top_10
          | Already have an acccount? 
          strong
            a(href='/?showdefaultmodal=true') Sign In
        //- .copy © 2018 Sparker
   
  //- include partials/footer.pug