extends layout

block content
  include partials/navbar.pug
  main
    .container.margin_60_35
      .row
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_1.jpg', alt='')
                .read_more
                  span Read more
              small Restaurant
            .wrapper
              h3
                a(href='detail.html') Da Alfredo
              small 27 Old Gloucester St
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_open Now Open
              li
                .score
                  span
                    | Superb
                    em 350 Reviews
                  strong 8.9
        // /strip grid
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_2.jpg', alt='')
                .read_more
                  span Read more
              small Bar
            .wrapper
              h3
                a(href='detail.html') Limon Bar
              small 438 Rush Green Road, Romford
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_open Now Open
              li
                .score
                  span
                    | Good
                    em 350 Reviews
                  strong 7.0
        // /strip grid
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_3.jpg', alt='')
                .read_more
                  span Read more
              small Shop
            .wrapper
              h3
                a(href='detail.html') Mary Boutique
              small 43 Stephen Road, Bexleyheath
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_closed Now Closed
              li
                .score
                  span
                    | Good
                    em 350 Reviews
                  strong 7.0
        // /strip grid
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_4.jpg', alt='')
                .read_more
                  span Read more
              small Bar
            .wrapper
              h3
                a(href='detail.html') Garden Bar
              small 40 Beechwood Road, Sanderstead
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_closed Now Closed
              li
                .score
                  span
                    | Superb
                    em 350 Reviews
                  strong 9.0
        // /strip grid
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_5.jpg', alt='')
                .read_more
                  span Read more
              small Hotel
            .wrapper
              h3
                a(href='detail.html') Mariott Hotel
              small 213 Malden Road, New Malden
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_open Now Open
              li
                .score
                  span
                    | Good
                    em 350 Reviews
                  strong 7.5
        // /strip grid
        .col-xl-4.col-lg-6.col-md-6
          .strip.grid
            figure
              a.wish_bt.liked(href='#0')
              a(href='detail.html')
                img.img-fluid(src='img/location_6.jpg', alt='')
                .read_more
                  span Read more
              small Event
            .wrapper
              h3
                a(href='detail.html') Six Pistols
              small Coverdale Road, Willesden
              p
                | Id placerat tacimates definitionem sea, prima quidam vim no. Duo nobis persecuti cu.
              a.address(href='https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x47e66e1de36f4147:0xb6615b4092e0351f!2sAssistance+Publique+-+Hôpitaux+de+Paris+(AP-HP)+-+Siège!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361', target='_blank') Get directions
            ul
              li
                span.loc_open Now Open
              li
                .score
                  span
                    | Good
                    em 350 Reviews
                  strong 7.8
        // /strip grid
        // /row
        // /container
        .bg_color_1
          .container.margin_60_35
            .row
              .col-lg-4
                a.boxed_list(href='#0')
                  i.pe-7s-help2
                  h4 Need Help? Contact us
                  p Cum appareat maiestatis interpretaris et, et sit.
              .col-lg-4
                a.boxed_list(href='#0')
                  i.pe-7s-wallet
                  h4 Payments
                  p Qui ea nemore eruditi, magna prima possit eu mei.
              .col-lg-4
                a.boxed_list(href='#0')
                  i.pe-7s-note2
                  h4 Cancel Policy
                  p Hinc vituperata sed ut, pro laudem nonumes ex.
            // /row
            // /container
            // /bg_color_1
  include partials/footer.pug